<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>扫雷</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="name" >
			当前玩家：
				<span id="name"><%=name%></span>
		</div>
		<div class="main" id="options">
			<table>
				<tr>
					<td style="font-size:25px">游戏设置</td>
				</tr>
				<tr>
					<td colspan="2">时间：<span id="time">0</span></td>
				</tr>
				<tr>
					<td colspan="2">得分：<span id="score">0</span></td>
				</tr>
				<!-- <tr>
					<td colspan="2">剩余雷数：<span id="leftboom">0</span></td>
				</tr> -->
				<tr>
					<td>行数：</td>
					<td><input type="text" name="line" id="line"></td>
				</tr>
				<tr>
					<td>列数：</td>
					<td><input type="text" name="column" id="column"></td>
				</tr>
				<tr>
					<td>总雷数：</td>
					<td><input type="text" name="minesCount" id="minesCount"></td>
				</tr>
				<tr>
					<td colspan="2"><button id="start">开始</button></td>
				</tr>
				<tr>
					<td colspan="2"><button id="pause">暂停</button></td>
				</tr>
				<tr>
					<td colspan="2"><button id="restart">重新开始</button></td>
				</tr>
			</table>
		</div>
		<div class="main" id="gameArea">
			<table id='gameTable'></table>
		</div>
        <script type="text/javascript" src="/javascripts/saolei.js" ></script>
		<div><button id="ranking_button" onclick="displayRanking()">排行榜</button>
			<ul id="ranking">
			</ul>
		  </div>
		
	</body>
</html>
