<div class="userlist">
    <div class="ui grid">
      <div class="four wide column">
        <div class="avatar avatar-link" style="position: relative; left: 550px;">
          <img class="avatar" src="/images/<%= user.avatar %>" style="width: 50px;height: 50px;display: flex;border-radius: 50%;align-items: center;justify-content: center;overflow: hidden;float: left;">
          <h3>snake分数：<%= user.score %></h3>
          <span class="tag"><%= user.time %></span>
        </div>
      </div>
    </div>
  </div>
