
<div class="nav" style="margin-bottom: 20px;color: #999;text-align: center;">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div id="audio_btn" class="rotate" style="width: 70px;
        height: 70px;
        top: 50px;
        left: 50px;
        margin: 10px auto;
        background-image: url(images/bglogo.jpg);
        background-repeat: no-repeat;
        background-size: contain;">
        <audio loop src="/music/邓伟标 - 太极.mp3" id="media" autoplay="autoplay"></audio>
        </div>
      <a href="/articles"><h1 style="display: inline-block;margin: 10px 0;border: #261849">Welcome to TCblog</h1></a>
      <p>Let's share!!</p>
    </div>
  </div>
</div>